<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="temp :: header"></head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:include="temp :: nav"></nav>

<div class="container">

    <div id="main" class="row">
        <div class="col-md-6 col-md-offset-3">
	        <form class="form" method="get" action="/jobs">
	        <div class="input-group">
	            <input name="code" type="text" class="form-control" />
	            <span class="input-group-btn">
	               <button class="btn btn-default" type="submit">查询</button>
	            </span>
	        </div>
	        </form>
        </div>

        <div id="mainContent" th:unless="${#lists.isEmpty(paginator)}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>频率</th>
                        <th>Kind</th>
                        <th>URL</th>
                        <th>指令</th>
                        <th>Worker</th>
                    </tr>
                </thead>
                <tbody th:unless="${#lists.isEmpty(paginator.entites)}">
                    <tr th:each="jw : ${paginator.entites}">
                        <td th:text="${jw.job.id}">Id</td>
                        <td th:text="${jw.job.code}">
                            <a class="btn btn-default-sm" th:href="@{/jobs(code=${jw.job.code})}">Code</a>
                        </td>
                        <td th:text="${jw.job.frequency}">Frequency</td>
                        <td th:text="${jw.job['kind']}">Kind</td>
                        <td>
                            <a th:href="${jw.job.url}" th:text="${#strings.abbreviate(jw.job.url, 32)}">
                                URL
                            </a>
                        </td>
                        <td th:text="${jw.job['command']}">Command</td>
                        <td th:text="${jw['workerUuid']}">Worker</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
			<nav aria-label="pagination">
				<ul class="pager">
					<li th:if="${paginator.isFristPage() == false}">
					   <a href="#" th:href="@{/jobs(page=1)}">第一页</a>
					</li>
					<li th:if="${paginator.hasPrevPage()}">
					   <a href="#" th:href="@{/jobs(page=${paginator.pagePrev})}">上一页</a>
					</li>
					<li th:if="${paginator.hasNextPage()}">
					   <a href="#" th:href="@{/jobs(page=${paginator.pageNext})}">下一页</a>
					</li>
					<li th:if="${paginator.isLastPage() == false}">
					   <a href="#" th:href="@{/jobs(page=${paginator.pageCount})}">最后一页</a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
</div>


<footer th:include="temp :: footer"></footer>
</body>
</html>
